@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
    color: white;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.pw-container{
    background-color: rgb(75,29,121);
    min-width: 400px;
    height: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);

}
.pw-header{
background-color: rebeccapurple;

padding: 1rem;
}
.center{
    text-align: center;
}

.pw-body{
    padding: 1rem;
}
.pw {
    height: 70px;
    background-color: rebeccapurple;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    overflow: auto;
    cursor: pointer;
}
.pw button{
    background-color: white;
    padding: 0.5rem 1rem;
    position: absolute;

    top: 0;
    right: 0;
    transform: translateX(0,20%);
    border: none;
    outline-style: none;
    color: rgb(131, 11, 250);
    transition:  opacity 0.2 ease;
    cursor: pointer;
    
    opacity: 1;
}
.pw button:hover{
    opacity: 1;
    transform: translate(0,0%);
}
.form-control {
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    color: #eee;
}
.generate {
    background-color: #ecb602;
    display: block;
    color: rebeccapurple;
    padding: 0.75rem;
    border: none;
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.5rem;
    cursor: pointer;
    outline-style: none;

}


@media  screen and (max-width: 600px) {
    .pw-container{
        width: 100%;
        height: auto;
    }
}